*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width:100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(portfolio.jpg);
    background-size:cover;
    font-family: 'Poppins',sans-serif;
}
nav{
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: space-around;
align-items: center;
}
.logo{
    font-size: 2em;
    letter-spacing: 2px;
}
.menu a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
}
.menu a:hover{
    border: 1px solid rgb(170, 69, 6);
    background: transparent;
}

.h-text{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 650px;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.h-text span{
    letter-spacing: 2px;
}
.h-text h1{
    font-size: 3.5em;
}
.h-text a{
    text-decoration: none;
    background: rgb(170, 69, 6);
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 5px;
    height: 100vh;
    transition: 0.5s;
    border-radius: 0px;
}
.h-text a:hover{
    border: 1px solid rgb(170, 69, 6);
    background: transparent;
}
.image img{
    position: centre;
    height: 140%;
    left:0px;
    bottom: 0%;
    transition: left 2s ease;
}